div{
    margin: 10px;
}
.progress{
    height: auto !important;
}

.progress-bar {
    overflow: revert !important;
}
.progress-bar span{
    color: white;
}

button{
    margin: 3px;
    color: white;
}
