<div class="container">
  <h3>NOVO QUADRINHO</h3>
  <mat-divider></mat-divider>
  <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)" enctype="multipart/form-data">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Superman" ngModel name="nome" required />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        placeholder="Ex. escreva sua descrição..."
        ngModel
        name="descricao"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Data de Publicação"
        ngModel
        name="dataPublicacao"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <div class="mb-3">
      <label for="formFile" class="form-label">Selecione uma Imagem para a capa</label>
      <input class="form-control" type="file" id="formFile" name="file" (change)="onChange($event)">

    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="progress +'%'"  aria-valuemin="0" aria-valuemax="100"><span>{{progress}}%</span></div>
    </div>
    <!-- <div class="mb-3">
      <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Enviar</button>
    </div> -->

    <div class="row">
      <div class="col-6">
        <button
          type="submit"
          mat-stroked-button
          color="accent"
          class="mat-elevation-z8"
        >
          SALVAR
        </button>
      </div>
      <div class="col-6">
        <button
          (click)="voltar()"
          mat-stroked-button
          color="basic"
          class="mat-elevation-z8"
        >
          VOLTAR
        </button>
      </div>
    </div>
  </form>
</div>
